name: Dependabot Changelog Entry

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]
    branches: [main]

permissions: read-all

jobs:
  workflow:
    name: Workflow
    uses: action-stars/generic-workflows/.github/workflows/dependabot-changelog.yaml@c445c11c1a06b05f0d6994bc5ac551ae74ea3f7c # v0.7.3
    permissions:
      contents: read
      id-token: write
