name: Dependabot Changelog Entry

on:
  pull_request:
    types: [opened, reopened, synchronize, labeled]
    branches: [main]

permissions: read-all

jobs:
  workflow:
    name: Workflow
    uses: action-stars/generic-workflows/.github/workflows/dependabot-changelog.yaml@8888aa6d53a92233d4c6f60b726ec5bccde90ed3 # v0.7.4
    permissions:
      contents: read
      id-token: write
