name: Publish Release

on:
  push:
    tags:
      - v*

jobs:
  workflow:
    name: Workflow
    uses: action-stars/generic-workflows/.github/workflows/release.yaml@8888aa6d53a92233d4c6f60b726ec5bccde90ed3 # v0.7.4
    permissions:
      contents: write
