name: Publish Release

on:
  push:
    tags:
      - v*

jobs:
  workflow:
    name: Workflow
    uses: action-stars/generic-workflows/.github/workflows/release.yaml@c445c11c1a06b05f0d6994bc5ac551ae74ea3f7c # v0.7.3
    permissions:
      contents: write
