name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: validate-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  workflow:
    name: Workflow
    uses: action-stars/generic-workflows/.github/workflows/validate-gh-workflows.yaml@8888aa6d53a92233d4c6f60b726ec5bccde90ed3 # v0.7.4
    with:
      auto_doc: true
      markdownlint: true
      shellcheck: true
      yamlfmt: true
